.catalogo {
    margin: 40px auto;
    width: 100%;
}

.catalogo-header {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-bottom: 20px;
    
}



.catalogo-header button:hover {
    background-color: #0056b3;
}

.grid-vapers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
  
    /* 👇 Esto centra el contenido de cada celda */
    place-items: center;

}


@media (max-width: 500px) {
    .catalogo-header .btn-catalogo {
        flex: 1 1 45%;
        max-width: 48%;
    }
}